<!-- <div class="container">
  <div class="row">
    <div class="col-md-6">

      <img [src]="product?.PrdimgURL" alt="">
    </div>
    <div class="col-md-6">

      <h1>{{product?.name}}</h1>
    </div>
  </div> -->

<!-- </div> -->
<!-- Day6 -->
<div class="col-md-5 mx-auto">
  <div class="small fw-light">search with materail</div>
  <div class="input-group">

    <!-- template reference =>  #anyName -->
    <input class="form-control border-end-0 border rounded-pill" type="text"
      id="example-search-input" #searchValue>
    <span class="input-group-append">
      <button class="btn btn-outline-secondary bg-white border-bottom-0 border rounded-pill ms-n5" type="button" (click)="search(searchValue.value)">
        <i class="fa fa-search"></i>
      </button>
    </span>
  </div>
</div>

<!-- index=> start from zero -->
<!-- built in variable in @for  -->
<ul>
  @for(result of productsAfterSearch;track $index){

    <li>{{$index+1}}- {{result.name}}</li>
  }
</ul>

<!-- ############################################ -->

<div class="container">

  @if(product){
  <div class="row mb-3">
    <div class="col-md-6">

      <h4> @switch (product.quantity) {
        @case (0) {Out Of Stock}
        @case (1) {Last One Item}
        @case (2) {Last Two Item}
        @default {In Stock}
        }</h4>
      <img [src]="product.PrdimgURL" class="img-fluid">
    </div>
    <div class="col-md-6">

      <h1>{{product.name}}</h1>
      <h2>Price: {{product.price|currency}}</h2>
      <h3>Material: {{product.Material}}</h3>
      <h3>{{product.details}}</h3>
    </div>
  </div>
  }


  <div class="d-flex justify-content-center" role="group" aria-label="Basic example">
    <button class="border-0" (click)="previousFunc()" [disabled]="prdID==prdIDList[0]"><i class="fa-solid fa-angles-left fs-4 text-primary"></i></button>
    <button class="border-0" (click)="nextFunc()" [disabled]="prdID==prdIDList[prdIDList.length-1]"><i class="fa-solid fa-angles-right fs-4"></i></button>
 </div>

</div>

<!-- <button class="button-91" (click)="goBackFunc()">Back</button> -->
<button class="button-91" [routerLink]="['/Products']">Back</button>

